.navbar {
  /* width: 100%; */
  min-height: 50px;  
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  
}

.menu {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  min-height: 40px;
  max-width: 900px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 5px;
}

ul.menu > li {
  margin: 5px;
  padding: 0 5px;
  background-color: #d0d1d5;  
  border-radius: 5px;
}

.menu-link {
    text-decoration: none;
}

@media all and (max-width : 612px) {
  .menu {
    padding: 0;
    flex-direction: column;
  }
}