.Picture {
  width: 200px;
  height: 200px;
  background-color: darkorange;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.Picture img {
  max-width: 200px;
  max-height: 170px;
  margin: 0 auto;
  padding: 0;
}

.Picture p {
  margin: 0 auto;
  padding: 0;
}
