.Picture {
  width: 200px;
  height: 200px;
  /* background-color: darkorange; */
  /* margin: 5px; */
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.877);
  border-radius: 5px;
}

.Picture img {
  max-width: 170px;
  max-height: 170px;
  margin: 0 auto;
  padding: 0;
}

.Picture p {
  margin: 0 auto;
  padding: 0;
}
